@import "../../styles/app";

footer {
  font-size: 14px;
  position: absolute;
  bottom: 20px;
}
.authForm {
  background-color: rgba(255, 255, 255, 0.767);
}

.bgLogo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 40%;
  opacity: 0.4;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img {
    max-width: 100%;
    max-height: 110vh;
  }
}

@media (max-width: 750px) {
  .bgLogo {
    display: none;
  }
}
