@import "../../../../styles/app";

.order-details {
  margin: 0 0 5px 0;
  border-bottom: 1px solid rgba(148, 148, 148, 0.4);
  min-height: 50px;

  &.order-details-header {
    font-weight: bold;
  }

  > div {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.food-name {
      justify-content: flex-start;
    }
  }

  > div:first-child {
    padding-left: 5px;
  }

  > div:last-child {
    justify-content: flex-end;
  }

  .text-center {
    margin: 0;
  }

  .order-details-quantity-group {
    .btn {
      padding: 7px;
    }

    .order-details-quantity {
      text-align: center;
      padding: 0;
      border-radius: 0;
    }

    /* Chrome, Safari, Edge, Opera */
    .order-details-quantity::-webkit-outer-spin-button,
    .order-details-quantity::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    .order-details-quantity[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
