@import "../../styles/app";

.view-container {
  display: flex;
  flex-direction: column;
  height: 98vh;
  box-sizing: border-box;
  overflow: hidden;
  .main-view {
    flex-grow: 1;

    > div,
    .tab-content {
      height: 100%;
    }
  }

  .tab-content {
    height: calc(100vh - 100px);
    position: relative;

    .tab-pane {
      height: 95%;
      position: relative;
      > div {
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .view-container {
    overflow: auto;
  }
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .flex-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .flex-body {
    flex: 1 1 auto;
    overflow: hidden;
    .flex-scrollable {
      min-height: 20px;
      max-height: calc(100vh - 270px);
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .flex-footer {
    height: 50px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.76);
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 1;
    }

    .btn {
      box-shadow: 0 2.6px 5.3px rgba(0, 0, 0, 0.028),
        0 8.7px 17.9px rgba(0, 0, 0, 0.042), 0 39px 80px rgba(0, 0, 0, 0.07);
      margin: 0 5px;
    }
  }
}
