@import "../../../styles/app";

.table-display {
  position: relative;
  border-radius: 5px;
  background-color: $info;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  cursor: pointer;
  opacity: 0.95;
  font-weight: 500;
  overflow: hidden;
  box-shadow: 0 0.3px 3.5px rgba(0, 0, 0, 0.024),
    0 0.9px 9.7px rgba(0, 0, 0, 0.034), 0 11px 80px rgba(0, 0, 0, 0.07);

  &:hover {
    opacity: 1;
    font-weight: 600;
  }

  &.table-child {
    background-color: $secondary;
  }

  &.table-busy {
    background-color: var(--success);
  }

  &.table-add {
    background-color: $light;
    color: $dark;
  }

  &.table-current {
    background-color: var(--warning);
    font-weight: bold;
  }

  &.table-selected {
    border: 10px solid var(--warning);
    font-weight: bold;
  }

  &.table-disabled {
    pointer-events: none;
    background-color: $secondary;
    cursor: default;
    opacity: 0.6;
  }

  .table-in-group {
    font-size: 11px;
    font-weight: bold;
  }

  .table-widget {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.7);
    padding: 0 4px;

    &.table-time {
      top: 0;
      left: 0;
      border-radius: 0 0 5px 0;
    }

    &.table-total {
      bottom: 0;
      right: 0;
      border-radius: 5px 0 0 0;
    }

    &.table-in-use,
    &.table-reserved {
      top: 0;
      right: 0;
      border-radius: 0 0 0 5px;
    }
  }
}
