@import "../../../styles/app";

.menu-search-form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .form-group {
    max-width: 80%;
    display: flex;
    justify-content: flex-end;
    .form-control {
      max-width: 50%;
    }
  }
}

.food-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

@media screen and (max-width: 500px) {
  .food-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}

@media screen and (max-width: 400px) {
  .food-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
